div.outer {
    display: flex;
    /* The total size of all the spaces combined */
    min-width: 1100px;
    background-color: white;
}

#main {
    background-color: gray;
    padding: 5px;
}
/* Container for the board as a whole */
#board {
    max-width: 1100px;
}

#left-column {
    flex-direction: column;

}

div.space {
    padding: 0;
    border: 1px solid black;
    height: 99px;
    width: 99px;
    text-align: center;
    font-size: .5em;
    /* faking border collapse */
    margin-top: -1px;
    margin-left: -1px;
}

div.space-title {
    padding: 5px;
    height: 40%
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.cyan {
    background-color: cyan;
}

.brown {
    background-color: rgb(153, 53, 48);
}

.middle-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}


#right-column {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;

}