
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(basketball.jpg);
    background-position: top;
}
header {
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(8,42,143,1) 5%, rgba(7,56,152,1) 15%, rgba(6,84,171,1) 31%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: left;
    margin-top: 10px;
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    margin-bottom: 20px;
}
nav li {
    background-color: black;
    display: inline;
    border-radius: 10px;
    padding: 5px;
}

section {
    background-color: white;
    margin-top: 30px;
    padding: 5px;
    width: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 8px 8px 15px 0 blue;
    position: relative;
}

section p {
    padding: 10px;
}

section ul {
    margin-top: 10px;
}
section li {
    margin-left: 30px;
}

section h2 {
    color: white;
    background-color: black;
    padding: 5px;
    width: auto;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

footer {
    background-color: grey;
    color: black;
    text-align: center;
    margin-top: 30px;
    border-radius: 30px;
}