/* CSS validation passed 02/26/2022 10:55AM CST */

li {
    width: 200px; /* make all list items the same size for aesthetics */
}

#nav_menu ul {
    list-style-type: none; /* bye dots */
    position: relative; /* help position submenus */
    padding: 0;
}

#nav_menu ul li {
    float: left; /* Top level be horizontal */ }

/* For the second tier */
#nav_menu ul ul {
    display: none; /* don't display until mouseover */
    position: absolute;
}

#nav_menu ul ul li {
    float: none; /* make submenus vertical */
}

/* Tab functionality */
#nav_menu ul li:hover > ul, /* onMouseOver */
#nav_menu ul li:focus-within > ul, /* rest of these are for tab functionality */
#nav_menu ul li ul:hover,
#nav_menu ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}




/* This works, don't move it */
#nav_menu > ul::after {
    /* Move the article to the right location after the menus */
    content: "";
    display: block;
    clear: both;
}

#nav_menu ul li a {
    text-align: left; /* text to left as in example image */
    display: block; /* stops the weird squishing thing for some reason */
    color: white; /* white text */
    text-decoration: none; /* remove link underline */
    background-color: black; /* black buttons */
    padding: .5em; /* extra black around the links for aesthetics */
    border-radius: 5px; /* curve the button corners */
    margin: 1px; /* space between the buttons */
}

#nav_menu ul ul ul {
   left: 100%;
    top: 4.5em;
    position: absolute;
}





/* No navigation menu below this point */

article h1 {
    font-size: 1.5em;
}

article h2 { /* I found a use case for the sibling selector! Huzzah! */
    background-color: blue;
    color: white;
}

article h3 {
    background-color: black;
    color: white;
}

article {
    width: 80%;
    margin: auto; /* I have no idea why align-self: center doesn't work */
}

article h4 {
    background-color: grey;
    color: white;
}
