/* Start of my own custom code */

body {
    /* background to reddish-brown, exact RGB values
     stolen from the example image */
    background: rgb(64, 27, 26);

    /* text in white */
    color: #FFFFFF;

    /* Arial or Helvetica if you got 'em, otherwise any sans-serif
       font will do in a pinch */
    font-family: 'Arial', 'Helvetica', sans-serif;
}

/* Navigation */
nav a {
    /* greyish white nav links */
    color: rgb(170, 155, 153);
}

nav a:hover {
    font-weight: bold;
}

nav span {
    font-weight: bold;
}

/* Heading */
main h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #FFFFFF;
    /* RIP to the HTML <center> tag. We will never forget you. */
    text-align: center;
}


/* Services List */

main ul {
    font-size: 2em;
    list-style-type: none;
    line-height: 2em;
}


/* Decorative Images */
main img.decorative_image {
    float: left;
    max-width: 25%;
    max-height: 25%;
    margin-right: 20px;
    margin-left: 20px;
}



