a:link, a:visited {
    color: white;
}

a:hover {
    color: gray;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    padding: 0 0 0 1em;
}

main {
    align-content: center;
    width: 900px;
    position: relative;
    margin: auto;
    padding: 10px;
    z-index: -1;
}

aside {
    float: left;
    padding: 50px 5px 0 0;


}
aside li {
    list-style: none;
    margin: 1px;
    padding: 5px;
    background-color: black;
    color: white;
}


main h1 {
    padding: 10px;
}


article {
    -moz-animation: 3;
    -webkit-column-count: 3;
    column-count: 3;
    padding: 30px;
}

article h2 {
    margin: 0;
}

article p {
    break-inside: avoid;
    margin: 0 0 1em 0;
}


.invert {
    background-color: black;
    color: white;
}

.comment-section {
    background-color: darkgray;
    margin: 0 0 20px 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    -moz-animation: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.comment {
    background-color: lightgray;
    margin: 0 5px 20px 10px;
    break-inside: avoid;
    padding: 10px 30px 10px 30px;
}

.comment p {
    break-inside: avoid;
    text-align: left;
    padding: 0;
    margin: 0 0 0 0;

}

.comment-section img {
    height: 30px;
    width: 30px;
    float: left;
    position: absolute;
    margin: 0 5px 0 -30px;
}

.comment-section h2 {
 column-span: all;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}